h4 {
    font-family: 'Roboto' sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #70757a;
}

h2 {
    font-family: 'Open Sans' sans-serif;
    font-size: 38px;
    font-weight: 500;
}

p {
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #70757a;
}


